{% extends "base.html" %}


{% block content %}

    <div class="container col-8 mt-4">
        <h3 class="mb-4">Aplicación del examen: {{examen}}</h3>
        {% for pregunta in preguntas %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title mb-3">{{pregunta}}</h5>
                    {% for respuesta in pregunta.respuestas.all %}
                    <div class="form-group mt-2">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="opcion{{respuesta.id}}" name="respuesta{{pregunta.id}}" value="{{respuesta.id}}">
                        <label class="form-check-label" for="opcion3">{{ respuesta.respuesta }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}