{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        {% if examen %}
            <h3>Aplicación del examen: {{examen}}</h3>
            {% for pregunta in preguntas %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title mb-3">{{pregunta}}</h5>
                    {% for respuesta in pregunta.respuestas.all %}
                    <div class="form-group mt-2">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="opcion{{respuesta.id}}" name="respuesta{{pregunta.id}}" value="{{respuesta.id}}">
                        <label class="form-check-label" for="opcion3">{{ respuesta.respuesta }}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}


        {% else %}
            <div class="container col-7">
                <div class="card text-center bg-light">
                    <div class="card-header p-3"></div>
                    <div class="card-body">
                      <h5 class="card-title">Exámen no disponible</h5>
                      <p class="card-text">Por el momento no se ha cargado ningún exámen al que aplicar. Intente más tarde.</p>
                      <a href="{% url 'home' %}" class="btn btn-danger">Regresar</a>
                    </div>
                    <div class="card-footer text-muted p-3"></div>
                  </div>
            </div>
        {% endif %}

        

    </div>
{% endblock %}

