{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        {% if examen %}
            <div class="container col-7">
                <div class="card text-center bg-light">
                    <div class="card-header p-3"></div>
                    <div class="card-body">
                        <h5 class="card-title">Exámen disponible</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur consequuntur ullam alias doloribus velit? Molestiae nostrum ea dignissimos asperiores quasi?.</p>
                        <a href="{% url 'examen:aplicacion' %}" class="btn btn-success">Iniciar</a>
                    </div>
                    <div class="card-footer text-muted p-3"></div>
                    </div>
            </div>
        {% else %}
            <div class="container col-7">
                <div class="card text-center bg-light">
                    <div class="card-header p-3"></div>
                    <div class="card-body">
                      <h5 class="card-title">Exámen no disponible</h5>
                      <p class="card-text">Por el momento no se ha cargado ningún exámen al que aplicar. Intente más tarde.</p>
                      <a href="{% url 'home' %}" class="btn btn-danger">Regresar</a>
                    </div>
                    <div class="card-footer text-muted p-3"></div>
                  </div>
            </div>
        {% endif %}

        

    </div>
{% endblock %}

