{% extends 'base.html' %}
{% load custom_tags %}
{% load widget_tweaks %}



{% block content %}

    <!-- Si hay errores en el formulario, se muestran -->
        {% if form.errors %}
         <div class="container-fluid alert alert-warning alert-dismissible fade show" role="alert">
           Tus datos tienen errores. Por favor, corrígelos e inténtalo de nuevo.
           {% for field in form %}
               {% if field.errors %}
                   {{ field.errors }}
               {% endif %}
           {% endfor %}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
        {% endif %}
    <!-- ---------------------------------- -->

    <div class="container mt-3 mb-5 col-md-7">
        <h1 class="mb-4">Registro de usuario</h1>
        <form method="post" action="{% url 'perfil:registro' %}" class="form-group">
        {% csrf_token %}   
        {{form.as_p}} 
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <button class="btn btn-danger"><a href="{% url 'home' %}" class="text-decoration-none text-light">Cancelar</a></button>
        </form>
    </div>

    

{% endblock %}